img {
  width: 24px;
  margin-bottom: 10px;
  padding-top: 2px;
}

.card-title {
  display: inline-block;
  font-size: 20px;
  padding-left: 5px;
}

.pair {
  margin-top: -10px;
}

.small-text {
  font-size: 14px;
  color: gray;
  padding-left: 2px;
}

.toggle {
  float: right;
}

.align-items-right {
  float: right;
}

.title {
  padding-top: 6px;
}
